<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hej, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log ud</button>
        </form>
    </Authorized>
    <NotAuthorized>
		<a style="padding-right : 25px" href="Identity/Account/RegisterRenter">Tilmeld som Udlejer</a> |
        <a style="padding-right : 25px" href="Identity/Account/Register">Tilmeld som Bruger</a> |
        <a style="padding-right : 25px" href="Identity/Account/Login">Log ind</a> |
    </NotAuthorized>
</AuthorizeView>
